In [5]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
import pandas as pd
import time
import datetime
#from webdriver_manager.chrome import ChromeDriverManager
chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

In [6]:
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "Dates":[],
     "salary":[],
     }

In [7]:
MAX_PAGE_NUM = 5
MAX_PAGE_DIG = 3
driver = webdriver.Chrome('/usr/bin/chromedriver',chrome_options=chrome_options)
#driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Patil\.wdm\drivers\chromedriver\win32\99.0.4844.51]
<ipython-input-7-c1c69437f0df>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [8]:
for i in range(1, MAX_PAGE_NUM+1):
    page_num = (MAX_PAGE_DIG - len(str(i))) * "0" + str(i)
    #url="https://www.naukri.com/data-scientist-jobs-"+page_num+"?k=data%20scientist"
    url = "https://www.naukri.com/software-developer-software-engineer-graphic-designer-data-analyst-data-scientist-business-analyst-hr-manager-project-engineer-project-manager-qa-lead-jobs-"
    driver.get(url)
    time.sleep(1)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    posting_date = datetime.datetime.today().strftime('%Y-%m-%d')
    
    for job in lst:
    
        try:
            role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
            company=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
            location=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
            salaries=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.salary").text
            #date=job.find_element_by_css_selector(".type.br2.fleft.grey").text
            posting_date=job.find_elements_by_css_selector(".fleft.fw500")
            #print(posting_date[-1].text)
        except NoSuchElementException:
             pass
            
        
        jobs["roles"].append(role)
        jobs["companies"].append(company)
        jobs["locations"].append(location)
        jobs["salary"].append(salaries)
        jobs["Dates"].append(posting_date[-1].text)

<ipython-input-8-44c1cb0fc82f>:7: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
c:\users\patil\appdata\local\programs\python\python39\lib\site-packages\selenium\webdriver\remote\webelement.py:484: UserWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead")
c:\users\patil\appdata\local\programs\python\python39\lib\site-packages\selenium\webdriver\remote\webelement.py:502: UserWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  warnings.warn("find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead")

In [9]:
df1=pd.DataFrame(jobs)
df1

,roles,companies,locations,Dates,salary
0,Data Analyst/ Scientist,Anicalls,Noida,4 DAYS AGO,Not disclosed
1,HR Business System Analyst,"MongoDB, Inc",Gurgaon/Gurugram,1 DAY AGO,Not disclosed
2,"Business Analyst, Noida",Netcomm Labs Pvt. Ltd.,"Noida, Delhi / NCR",4 DAYS AGO,"2,25,000 - 4,00,000 PA."
3,"Data Analyst, ENR Business Analytics",IHS Markit,Gurgaon/Gurugram,30+ DAYS AGO,Not disclosed
4,Business Data Analyst,Incuspaze Solutions Private Limited,"Mumbai, Indore, New Delhi, Lucknow, Gurgaon/Gu...",10 DAYS AGO,Not disclosed
...,...,...,...,...,...
95,Data Analyst / Business Analyst,Right Step Consulting,Gurgaon,30+ DAYS AGO,Not disclosed
96,CRM Business Data Analyst,Harappa Learning Pvt Ltd,New Delhi,30+ DAYS AGO,Not disclosed
97,Senior Data Analyst With SAP Hana,Anicalls,Noida,9 DAYS AGO,Not disclosed
98,Data Analyst / data Analytics - Python + SQL,Data Analytics company (MNC) US based,"Noida, Gurgaon/Gurugram, Delhi / NCR",7 DAYS AGO,"20,00,000 - 30,00,000 PA."
99,Business Analyst (Sales) - B.Tech/ MBA from Ti...,BYJUS,Noida,9 DAYS AGO,Not disclosed

In [10]:
df1.to_csv('naukri.csv',index=False)

### let me know what else we need